<h1>Blog dashboard</h1>

<section>

  <% @posts.each do |post| %>
  <article>    
    <h1><%= post.title %></h1>
    <date><%= post.published_at %></date>
    <p><%= post.excerpt %></p>  
    <h2><%= link_to "Read more", post %></h2>
  </article>
<% end %>

</section>

